<launch>
  <include file="$(find ydlidar)/launch/lidar.launch" />
  <node name="manual_control_node"  pkg="manual_control"  type="manual_control_node" />
  <node pkg="adc_llc" type="adc_llc_node" name="adc_llc_node" />
  <node pkg="gmapping" type="slam_gmapping_node" name="slam_gmapping_node" />
</launch>
